button{
    background-color: #242424;
    color: rgb(255, 255, 255);
    border: 2px solid #af634c;
    margin-left: 20px;
    margin-right: 5px;
    display: inline-block;
}
.button:hover{
    background-color: #4c66af;
    color: rgb(134, 87, 0);
}