.heading{
    width: 100%;
    background: #2D532C;
    background: -moz-linear-gradient(left, #2D532C 0%, #11A41B 50%, #2D532C 100%);
    background: -webkit-linear-gradient(left, #2D532C 0%, #11A41B 50%, #2D532C 100%);
    background: linear-gradient(to right, #2D532C 0%, #11A41B 50%, #2D532C 100%);
}

table.zooList, th, td{
    text-align: center;
    margin-top: 2cm;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: 800px;
}

table.create, td{
    margin-top: 2cm;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: auto;
}

.main{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    flex-direction:column;
    height: -webkit-fill-available;

}

body{
    background-color: bisque;
    margin: 0px;
}

.tabula{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

p{
    text-align: center;
}

table.find, th, td{
    margin-top: 2cm;
    margin-left: 3cm;
    margin-right: auto;
    border: 1px solid;
    width: auto;
}



