<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Mareka zoo dārzs</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
        <body>
            <div class = "heading">
                <h1> Mareka zoo dārzs</h1>
                <th:block th:include="/admin_button_page"></th:block>
            </div>
            <div class= "zoolist">

                <table class= "zoolist">

                        <tr>
                            <th> Name </th>
                            <th> Town </th>
                            <th> Phone number </th>
                        </tr>
                        <tr th:each="zoo: ${zoos}">
                            <td th:text="${zoo.getName()}"></td>
                            <td th:text="${zoo.getTown()}"></td>
                            <td th:text="${zoo.getPhone()}"></td>
                        <!-- <td th:text="${zoo.getZooId()}"></td> -->
                        
                        <!-- https://stackoverflow.com/questions/68675732/thymeleaf-variable-as-a-button -->
                        <td> <button class="button button5" th:with="zooID=${zoo.getZooId()}" th:data-id="${zooID}" onclick="window.location.href='/admin/zoo/updateZoo/' + this.getAttribute('data-id')">Update zoo</button> </td>
                        <td> <button class="button button5" th:with="zooID=${zoo.getZooId()}" th:data-id="${zooID}" onclick="window.location.href='/admin/zoo/deleteZoo/' + this.getAttribute('data-id')">Delete zoo</button> </td>
                        <td> <button class="button button5" th:with="zooID=${zoo.getZooId()}" th:data-id="${zooID}" onclick="window.location.href='/admin/animal/add/' + this.getAttribute('data-id')">Add animal</button> </td>
                        <td> <button class="button button5" th:with="zooID=${zoo.getZooId()}" th:data-id="${zooID}" onclick="window.location.href='/admin/zoo/list/' + this.getAttribute('data-id')">More info</button> </td>
                    </table>
                </div>
            </tr>
        </body>
        
</html>