<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mareka zoo dārzs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
    <div class="heading">
        <h1> Mareka zoo dārzs</h1>
        <th:block th:include="/user_button_page"></th:block>
    </div>
    <div class="main">


        <p>Lūdzu ievadiet jauna zoo dārza informāciju</p>
        <form action="#" th:action="@{/zoo/__${id}__/buyNewTicket}" th:object="${ticket}" method="post">


            <table class="create">
                <tr>
                    <td> Name: </td>
                    <td> <input type="text" th:field="*{visitorName}"> </td>
                    <td th:if="${#fields.hasErrors('visitorName')}" th:errors="*{visitorName}"></td>
                </tr>


                <tr>
                    <td> Surname: </td>
                    <td> <input type="text" th:field="*{visitorSurname}"> </td>
                    <td th:if="${#fields.hasErrors('visitorSurname')}" th:errors="*{visitorSurname}"></td>
                </tr>

                <tr>
                    <td> Ticket type: </td>
                    <td>
                        <select name="ticketType">
                            <option th:each="tickeType : ${T(com.zoo.mareks.models.TicketType).values()}"
                                th:value="${tickeType}" th:text="${tickeType}"></option>
                        </select>
                    </td>
                </tr>

            </table>
            <button type="submit">Submit</button>
        </form>
    </div>


</body>

</html>