<html xmlns:th="http://www.thymeleaf.org">

        <head>
            <link th:href="@{/css/button.css}" rel="stylesheet">
        </head>
        <body>
            <button class="button button" onclick="window.location.href='/zoo/list'">All zoos</button>
            <button class="button button" onclick="window.location.href='/zooListByAddress'">Select zoos by address</button>
            <button class="button button" onclick="window.location.href='/zooListByAnimal'">Select zoos by animal</button>

        </body>
        
</html>